<div class="contact">
<img src="../../assets/contactus.jpg">
</div>
<h2 class="text-center mt-5">Hey, we’d love to hear from you.<br>
Fill in our form and we’ll be in touch</h2>
<section class="joinnow">
<h1 class="text-center mt-5">Send Us Note</h1>
<div class="login col-lg-4 m-auto shadow-lg">

 <form (ngSubmit)="onSubmit()">
 
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
    </div>
     <br>
    
    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>
   <br>
    <div class="form-group">
      <label for="name">Phone</label>
      <input type="text" class="form-control" id="phone" required [(ngModel)]="user.phone" name="phone">
    </div>
	<br>
	<div class="form-group">
      <label for="name">Messsage</label>
      <input type="textarea" class="form-control" id="message" required [(ngModel)]="user.message" name="message">
    </div>
	<br>
    <button type="submit" class="btn btn-success">Submit</button>
	
 </form>
 </div>
</section>
