.course
{
	background-color: #c8def1;
	padding: 20px 50px;
}

.box{
	background-color: #fefefe;
	padding:10px 20px;
}

@media screen and (max-width:600px)
{
	.course
{
	background-color: #c8def1;
	padding: 20px 50px;
}
	
}