<section class="home">
<img src="../../assets/mybackgroud.jfif">
<div class="homecontent">
<h2>Driven by Data, Delivered with Clarity<br>
Making you Socially Competitive.</h2>
<p>We push the boundaries of digital marketing with our out-of-the-box marketing skills so that your brand stands out! We aim for fast delivery of results because we know that your time is valuable!
</p>

<a href="create-user" class="btn btn-warning"> Get A Free Quote</a>
</div>
</section>
<div class="description">
<h3 class="text-center mt-5">Digital marketing services that help you rank,engage and convert</h3>
</div>

<div class="container">


  <div class="row mt-5" >   
    <div class="col-lg-3 mb-5" *ngFor="let sc of services" >
      <div class="box shadow-sm">
	  <img src="{{sc.image}}" width="100%">

	  
	  <h3 class="mt-2"> {{sc.name}}</h3>
	  <button class="btn btn-primary mt-2">Explore</button>
      </div>


    </div>


  </div>
</div>
<h2 class="text-center">It’s time to go social! We’ll make it simple. With passion as the engine of our business, we provide:
</h2>
<br>
<br>
<section class="overall cards">
<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="../../assets/AM.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dedicated Account Managers</h5>
        <p class="card-text">Single point of contact for every query</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../assets/DM.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">360 Degree Digital Marketing</h5>
        <p class="card-text">One company for all your marketing needs</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../assets/FC.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Frequent Communication</h5>
        <p class="card-text">Keeping you in the loop at all times</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../assets/EWR.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Weekly Reporting</h5>
        <p class="card-text">Updating you on the status of the digital marketing activities regularly</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<br>
<br>
<div class="card-group">
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Osumare</h5>
      <p class="card-text">The best digital marketing agency in Pune with a proven track record of consistently delivering quality service.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Address</h5>
      <p class="card-text">Survey No. 43, Pathare Thube Nagar, Nagar Road, Kharadi, Pune-14, Maharastra, India.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Contact Us</h5>
      <p class="card-text"> hello@osumare.in<br>+91 9890 4006 46<br>+91 8459 8762 26</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


































